Django==1.11
Pillow==4.2.1
psycopg2===2.7.1
gunicorn==19.7.1
whitenoise==3.3.0
dj-database-url==0.4.2
django-bootstrap3==9.0.0
django-rest-framework-social-oauth2==1.0.8
boto3==1.4.7
django-storages==1.6.5