{% extends 'base_signup.html' %}
{% load bootstrap3 %}
{% block title %}Вход{% endblock %}
{% block heading %}Вход в ресторан{% endblock %}


{% block content %}
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-pink pull-right">Вход</button>
</form>
    <a href="{% url 'social:begin' 'vk-oauth2' %}" class="btn btn-primary">Войти с помощью VK</a>
    <a href="{% url 'restaurant-sign-up' %}">Зарегистрировать ресторан</a>
{% endblock %}